<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=2.0"
		/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Phaser Driving</title>
		<script>
			window.env = {
				buildType: '<%= htmlWebpackPlugin.options.buildType %>',
				version: '<%= htmlWebpackPlugin.options.version %>',
			};
		</script>
		<!-- vertex shader -->
		<script  id="vertex-shader-3d" type="x-shader/x-vertex">
			attribute vec4 a_position;
			attribute vec2 a_texcoord;

			uniform mat4 u_matrix;

			varying vec2 v_texcoord;

			void main() {
			  // Multiply the position by the matrix.
			  gl_Position = u_matrix * a_position;

			  // Pass the texcoord to the fragment shader.
			  v_texcoord = a_texcoord;
			}
		</script>
					<!-- fragment shader -->
		<script  id="fragment-shader-3d" type="x-shader/x-fragment">
			precision mediump float;

			// Passed in from the vertex shader.
			varying vec2 v_texcoord;

			// The texture.
			uniform sampler2D u_texture;

			void main() {
			   gl_FragColor = texture2D(u_texture, v_texcoord);
			}
		</script>

		<script src="https://connect.facebook.net/en_US/fbinstant.6.2.js"></script>

		<script src="./assets/js/webgl-utils.js"></script>
		<script src="./assets/js/m4.js"></script>
	</head>

	<body>
		<div id="game-container"></div>

		<script type="text/javascript" src="vendor.js"></script><script type="text/javascript" src="game.js"></script>
		<script>
			window.fbAsyncInit = function() {
				FB.init({
					appId            : '347122906654408',
					autoLogAppEvents : true,
					xfbml            : true,
					version          : 'v8.0'
				});
			};



			var waitFbInstantTimer = setInterval(function () {
				if (!window.hasOwnProperty('FBInstant')) return;
				clearInterval(waitFbInstantTimer);
				initFbInstant();
			}, 100);

			function initFbInstant() {
				var fbInstantLoadingCount = 1;
				window.FBInstant.initializeAsync().then(function () {
					var fbInstantLoadingTimer = setInterval(function () {
						if (!window.FBInstant) {
							clearInterval(fbInstantLoadingTimer);
							return;
						}

						if (fbInstantLoadingCount >= 90) {
							clearInterval(fbInstantLoadingTimer);
							window.FBInstant.setLoadingProgress(99);
							return window.FBInstant.startGameAsync();
						}

						if(fbInstantLoadingCount >= 100) {
							return window.FBInstant.startGameAsync();
						}

						fbInstantLoadingCount += fbInstantLoadingCount < 40 ? 1 : 2;
						fbInstantLoadingCount = fbInstantLoadingCount > 100 ? 100 : fbInstantLoadingCount;
						window.FBInstant.setLoadingProgress(fbInstantLoadingCount);
					}, 1000 / 30);
					window.fbInstantInitiated = true;
				})["catch"](function (error) {
					console.error('initializeAsync', {
						error: error
					});
					var appElement = document.getElementById('app');
					appElement.innerHTML = JSON.stringify(error);
				});
			}
		</script>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
	</body>
</html>
